body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,
    'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0093E9;
  background-image: linear-gradient(69deg, #0093E9 0%, #80D0C7 100%);
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
